body {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}

.light-blue {
    background: lightskyblue;
}

.light-yellow {
    background: lightgoldenrodyellow;
}

.light-coral {
    background: lightcoral;
}

header {
    height: 20vh;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

main {
    height: auto;
    padding: 20px 5%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 4vh;
    width: 100vw;
    background: slategrey;
    padding: 0px 2%;
    border-top: 2px solid #333;
}
